/* Master styles */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.home-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "header header header header"
    "image image image image"
    "links links links links"
    "dev dev dev dev"
    "skills skills skills skills"
    "footer footer footer footer";
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Header */
.header{
    grid-area: header;
    padding: 5px 0px 30px 5px;
    text-align: left;
}
.header h1{
    color: lightskyblue;
    font-size: 3.2rem;
}
.header h2{
    color: grey;
    font-style: italic;
    line-height: .5;
    font-size: 2.4rem;
}
.image{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 15px;
    grid-area: image;
}

/* Links */
.links{
    grid-area: links;
    padding-top: 5px;
    padding-bottom: 50px;
    word-spacing: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
a:link{
    text-decoration: none;
    color:gray;
}
a:visited {
    color:gray;
}
a:hover {
    text-decoration: underline;
    color: lightskyblue;
}

/* Development */
.development{
    grid-area: dev;
    padding: 0px 20px 50px 20px;
}
.development h2{
    color:lightskyblue;
    padding-bottom: 10px;
    font-size: 2.4rem;
    text-align: center;
}
.development p{
    font-size: 1.6rem;
}

/* Skills */
.skills{
    grid-area: skills;
    padding: 0px 20px 80px 20px;
}
.skills h2{
    color: lightskyblue;
    padding-bottom: 10px;
    font-size: 2.4rem;
    text-align: center;    
}
.skills table{
    border-collapse: collapse;
    width: 250px;
}
.skills table td{
    padding: 3px 10px 3px 10px;
    font-size: 1.6rem;
}
tr:nth-child(even){
    background-color: lightskyblue;
}

/* Footer */
.footer{
    grid-area: footer;
    padding-left: 5px;
}
.footer p{
    font-size: 0.8rem; 
}
/* Big Screens */
@media only screen and (min-width: 760px) {
    .home-wrapper{
        grid-template-areas: 
        "header header header header"
        "image image image image"
        "links links links links"
        "dev dev dev dev"
        "skills skills skills skills"
        "footer footer footer footer";
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
    .header{
        padding-bottom: 60px;
        padding-left: 100px;
    }
    .links{
        padding-bottom: 50px;
    }
    .development{
        padding: 0px 100px 50px 100px;

    }
   .skills{
       padding: 0px 100px 120px 100px;
       grid-auto-columns: auto;
    }

   

  

    

}

