/* Master styles */
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.home-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "header header header header"
    "image image image image"
    "links links links links"
    "dev dev dev dev"
    "skills skills skills skills"
    "footer footer footer footer";
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.header{
    grid-area: header;
    padding: 0px 0px 30px 5px;
    text-align: left;
}
.header h1{
    color: lightskyblue;
}
.header h2{
    color: grey;
}
.image{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    grid-area: image;
}
.links{
grid-area: links;
padding-top: 15px;
padding-bottom: 30px;
word-spacing: 10px;
text-align: center;
}
a:link{
    text-decoration: none;
    color:gray;
}
a:visited {
    color:gray;
}
a:hover {
    text-decoration: underline;
    color: lightskyblue;
}
article h2{
    color:lightskyblue;
}
.development{
    grid-area: dev;
    padding: 0px 15px 30px 15px;
}
.development h2{
    color:lightskyblue;
    padding-bottom: 5px;
}
.skills{
    grid-area: skills;
    padding: 0px 15px 80px 15px;
}
.skills h2{
    color: lightskyblue;
    padding-bottom: 5px;
}
.skills table{
    width: 100%;

}
tr.odd {
    background-color:lightskyblue;
}
.footer{
    grid-area: footer;
    font-size: 0.75em;
    padding-left: 5px;
}
